<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SN Sport</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/styles_login.css">
    
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Encabezado -->
	<header class="encabezado">
		<!-- row section -->
		<div class="u-section-row r">
			<!-- Logo -->
			<a href="/" class="logo r-30">
				<img src="/images/logo.png" class="u-logo-image" data-image-width="80">
			</a>
			<div class="r r-70 botones-header">
				<a href="/login"><span class="fas fa-sign-in-alt"></span>&nbsp;Iniciar Sesion</a>
				<a href="#"><span class="fas fa-shopping-bag"></span>&nbsp;Carrito</a>
			</div>
		</div>
		<!-- Fin row section -->
	</header>
	<!-- Fin Encabezado -->

	<div class="header u-navegacion">
		<!-- Contenedor -->
		<div class="r u-section-row">
			<div class="btn-menu r70">
				<label for="btn-menu"><i class="fas fa-bars"></i></label>
			</div>
			<nav class="menu r-70">
				<li><a href="/">Inicio</a></li>
				<li><a href="/productDetail">Producto</a></li>
				<li><a href="#">Tienda</a></li>
				<li><a href="#">Contacto</a></li>
			</nav>
			<!-- Buscador -->
			<div class="buscador r-30">
				<button class="bus-botton"><i class="fas fa-search"></i></button>
				<input class="bus-input" type="text" name="buscar" required placeholder="Buscar porductos, marcas">
			</div>
		</div>
	</div>
	
	<div class="capa"></div>
	<!-- Menu lateral movil -->
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<li><a href="/">Inicio</a></li>
				<li><a href="/productDetail">Producto</a></li>
				<a href="#">Tienda</a>
				<a href="#">Contacto</a>
				<a href="#">Politica de Privacidad</a>
				<a href="#">Terminos y Condiciones</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>


        <main class="u-section-row padding-tb">
            <section class="main_login">


                <div class="tabset">
                    <!-- Tab 1 Inicio de Sesion-->
                    <input type="radio" name="tabset" id="tab1" aria-controls="marzen" checked>
                    <label for="tab1">Iniciar Sesion</label>
                    <!-- Tab 2 Registro-->
                    <input type="radio" name="tabset" id="tab2" aria-controls="rauchbier">
                    <label for="tab2">Registrarse</label>
                    
                    <div class="tab-panels">
                        <section id="marzen" class="tab-panel">
                            <h2 class="reg-login">Iniciar Sesion</h2>

                            <form action="#" method="post" class="formulario">

                                <label for="ususario">Usuario</label>
                                <input type="text" name="usuario" id="usuario" class="border-box">
        
                                <label for="contraseña">Ingrese su contraseña</label>
                                <input type="password" name="contraseña" id="contraseña" class="border-box">
        
                                <div class="botones">
                                    <button class="submit" type="submit"><a href="/">Iniciar Sesión</a></button>
                                </div>
                            </form>
                            
                        </section>

                        
                        <section id="rauchbier" class="tab-panel">
                            <h2 class="reg-login">Registrarse</h2>
                            <form action="#" method="post" class="formulario bg-gris-claro">

                                <label for="nombre">Nombre y Apellido</label>
                                <input type="text" name="nombre" id="nombre" class="border-box">
                                <label for="dni">DNI</label>
                                <input type="text" name="dni" id="dni" class="border-box">
                                <label for="email">Correo electrónico</label>
                                <input type="email" name="email" id="email" class="border-box">
                                <label for="ususario">Usuario</label>
                                <input type="text" name="usuario" id="usuario" class="border-box">
                                <label for="fecha-de-nacimiento">Fecha de nacimiento</label>
                                <input type="date" name="fecha-de-nacimiento" id="fecha-de-nacimiento" class="border-box">
                                <label for="domicilio">Domicilio</label>
                                <input type="text" name="domicilio" id="domicilio" class="border-box">
        
        
                            
        
                                <label for="contraseña">Ingrese su contraseña</label>
                                <input type="password" name="contraseña" id="contraseña" class="border-box">
                                <label for="confirmar-contraseña">Confirme contraseña</label>
                                <input type="password" name="confirmar-contraseña" id="confirmar-contraseña" class="border-box">
                                <div class="botones">
                                    <button class="submit" type="submit"><a href="/">Registrarme</a></button>
                                    <button class="rest" type="reset">Borrar</button>
                                </div>
                            </form>
                        </section>


                    </div>
                    
                </div>
            <!-- </div> -->
            </section>
        </main>


    <!-- footer m -->
    <footer class="footer-m m">
        <div class="r-25">
            <a href="#"><span class="fas fa-user-circle"></span>
                <p>Usuario</p>
            </a>
        </div>
        <div class="r-25">
            <a href="#"><span class="fas fa-info-circle"></span>
                <p>Ayuda</p>
            </a>
        </div>
        <div class="r-25">
            <a href="#"><span class="fas fa-store-alt"></span>
                <p>Tienda</p>
            </a>
        </div>
        <div class="r-25">
            <a href="#"><span class="fas fa-shopping-bag"></span>
                <p>Carrito</p>
            </a>
        </div>
    </footer>
    <!-- /Fin footer m -->

    <!-- footer xl -->
    <footer class="footer xl">
        <div class="u-section-row r padding-tb">
            <!-- Row footer 1 -->
            <div class="footers center r-25">
                <!-- Logo -->
                <a href="#">
                    <img src="/images/logo.png" class="f-logo">
                </a><br>
                <div class="center i-redes">
                    <a href="https://facebook.com/"><span class="fab fa-facebook-square"></span></a>
                    <a href="https://facebook.com/"><span class="fab fa-instagram-square"></span></a>
                    <a href="https://facebook.com/"><span class="fab fa-youtube-square"></span></a>
                </div>
            </div>

            <!-- Row footer 1 -->
            <div class="footers r-25">
                <h3>Paginas</h3>
                <ul class="m-footer">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Nosotros</a></li>
                    <li><a href="">Tienda</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </div>

            <!-- Row footer 2 -->
            <div class="footers r-25">
                <h3>Paginas</h3>
                <ul class="m-footer">
                    <li><a href="">Productos</a></li>
                    <li><a href="">Politica de devolucion</a></li>
                    <li><a href="">Terminos y Condiciones</a></li>
                    <li><a href="">Carrito</a></li>
                </ul>
            </div>

            <!-- Row footer 3 -->
            <div class="footers datos r-25">
                <p>SAN NICOLAS DE LOS ARROYOS - CP 2900</p>
                <p>BUENOS AIRES - ARGENTINA</p>
                <a href="tel:5493364551179"><span class="fas fa-phone-volume">&nbsp;+549 336 4551179</span></a><br>
                <a href="tel:5493364551179"><span class="fas fa-mobile">&nbsp;+549 336 4551179</span></a><br>
                <a href="mailto:carvajalmaxi1@gmail.com"><span
                        class="fas fa-envelope-open-text">&nbsp;info@snport.com</span></a>
            </div>

        </div>
    </footer>

    <!-- Copyright -->
    <div class="copyright">
        <div class="u-section-row padding-tb">
            Copyright 2022 - Todos los derechos reservados <a>Grupo 1 Digital House</a>
        </div>
    </div>

</body>

</html>