<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
	<!-- Encabezado -->
	<header class="encabezado">
		<!-- row section -->
		<div class="u-section-row r">
			<!-- Logo -->
			<a href="/" class="logo r-30">
				<img src="/images/logo.png" class="u-logo-image" data-image-width="80">
			</a>
			<div class="r r-70 botones-header">
				<a href="/login"><span class="fas fa-sign-in-alt"></span>&nbsp;Iniciar Sesion</a>
				<a href="#"><span class="fas fa-shopping-bag"></span>&nbsp;Carrito</a>
			</div>
		</div>
		<!-- Fin row section -->
	</header>
	<!-- Fin Encabezado -->

	<div class="header u-navegacion">
		<!-- Contenedor -->
		<div class="r u-section-row">
			<div class="btn-menu r70">
				<label for="btn-menu"><i class="fas fa-bars"></i></label>
			</div>
			<nav class="menu r-70">
				<li><a href="/">Inicio</a></li>
				<li><a href="/productDetail">Producto</a></li>
				<li><a href="#">Tienda</a></li>
				<li><a href="#">Contacto</a></li>
			</nav>
			<!-- Buscador -->
			<div class="buscador r-30">
				<button class="bus-botton"><i class="fas fa-search"></i></button>
				<input class="bus-input" type="text" name="buscar" required placeholder="Buscar porductos, marcas">
			</div>
		</div>
	</div>
	
	<div class="capa"></div>
	<!-- Menu lateral movil -->
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<li><a href="/">Inicio</a></li>
				<li><a href="/productDetail">Producto</a></li>
				<a href="#">Tienda</a>
				<a href="#">Contacto</a>
				<a href="#">Politica de Privacidad</a>
				<a href="#">Terminos y Condiciones</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>

	<section class="u-section-row padding-tb detalle">
            <div class="r-40">
                <img class="img-destacada" src="/images/Under Armour speed stride OS.jpg">
                <div class="galeria">
                  <img class="img-small" src="/images/under armour speed.jpg">
                  <img class="img-small" src="/images/under armour speed st.jpg">
                  <img class="img-small" src="/images/under armour speed stride O.jpg">
                  <img class="img-small" src="/images/Under Armour Run.jpg">
                </div>
            </div>

            <div class="r-60 center padding-pr">
              
              <h2 class="nombre">Remera Adidas Training</h2>
              <p class="descuento"><s>$15.999,00</s>  <strong>11.900,00</strong></p>
              <p class="padding-tb">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolorum molestiae aliquid animi dolorem. Excepturi dolores, facere aliquid assumenda laboriosam, quas nam quod fugiat aperiam nihil similique tenetur ipsum commodi?</p>
              <h5 class="talle">Seleccione el talle</h5>

              <ul class="caja-talles">
                <li class="div-talles">S</li>
                <li class="div-talles">M</li>
                <li class="div-talles">L</li>
                <li class="div-talles">XL</li>
              </ul>
              <div class="contador">
                <div class="quantity caja-contador">
                  <a href="#" class="negpos">-</a>
                    <input type="number"  class="nume"  value="1" size="4" placeholder="" inputmode="numeric" >
                  <a href="#" class="negpos">+</a>
                </div>
                <a href="/productCart" class="submit">Agregar al carrito <i class="fas fa-shopping-bag fa-eye"> </i></a>
              </div>
            </div>
  </section>

                          
  
<!-- footer m -->
<footer class="footer-m m">
  <div class="r-25">
    <a href="#"><span class="fas fa-user-circle"></span><p>Usuario</p></a>
  </div>
  <div class="r-25">
    <a href="#"><span class="fas fa-info-circle"></span><p>Ayuda</p></a>
  </div>
  <div class="r-25">
    <a href="#"><span class="fas fa-store-alt"></span><p>Tienda</p></a>
  </div>
  <div class="r-25">
    <a href="#"><span class="fas fa-shopping-bag"></span><p>Carrito</p></a>
  </div>
</footer>
<!-- /Fin footer m -->

<!-- footer xl -->
<footer class="footer xl">
  <div class="u-section-row r padding-tb">
    <!-- Row footer 1 -->
    <div class="footers center r-25">
      <!-- Logo -->
      <a href="#">
        <img src="/images/logo.png" class="f-logo">
      </a><br>
      <div class="center i-redes">
        <a href="https://facebook.com/"><span class="fab fa-facebook-square"></span></a>
        <a href="https://facebook.com/"><span class="fab fa-instagram-square"></span></a>
        <a href="https://facebook.com/"><span class="fab fa-youtube-square"></span></a>
      </div>
    </div>

    <!-- Row footer 1 -->
    <div class="footers r-25">
      <h3>Paginas</h3>
      <ul class="m-footer">
        <li><a href="">Inicio</a></li>
        <li><a href="">Nosotros</a></li>
        <li><a href="">Tienda</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>

    <!-- Row footer 2 -->
    <div class="footers r-25">
      <h3>Paginas</h3>
      <ul class="m-footer">
        <li><a href="/productCart">Productos</a></li>
        <li><a href="">Politica de devolucion</a></li>
        <li><a href="">Terminos y Condiciones</a></li>
        <li><a href="">Carrito</a></li>
      </ul>
    </div>

    <!-- Row footer 3 -->
    <div class="footers datos r-25">
      <p>SAN NICOLAS DE LOS ARROYOS - CP 2900</p>
      <p>BUENOS AIRES - ARGENTINA</p>
      <a href="tel:5493364551179"><span class="fas fa-phone-volume">&nbsp;+549 336 4551179</span></a><br>
      <a href="tel:5493364551179"><span class="fas fa-mobile">&nbsp;+549 336 4551179</span></a><br>
      <a href="mailto:carvajalmaxi1@gmail.com"><span class="fas fa-envelope-open-text">&nbsp;info@snport.com</span></a>
    </div>

  </div>
</footer>

<!-- Copyright -->
<div class="copyright">
  <div class="u-section-row padding-tb">
    Copyright 2022 - Todos los derechos reservados <a>Grupo 1 Digital House</a>
  </div>
</div>

</body>
</html>