<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
	<!-- Encabezado -->
	<header class="encabezado">
		<!-- row section -->
		<div class="u-section-row r">
			<!-- Logo -->
			<a href="/" class="logo r-30">
				<img src="/images/logo.png" class="u-logo-image" data-image-width="80">
			</a>
			<div class="r r-70 botones-header">
				<a href="/login"><span class="fas fa-sign-in-alt"></span>&nbsp;Iniciar Sesion</a>
				<a href="#"><span class="fas fa-shopping-bag"></span>&nbsp;Carrito</a>
			</div>
		</div>
		<!-- Fin row section -->
	</header>
	<!-- Fin Encabezado -->

	<div class="header u-navegacion">
		<!-- Contenedor -->
		<div class="r u-section-row">
			<div class="btn-menu r70">
				<label for="btn-menu"><i class="fas fa-bars"></i></label>
			</div>
			<nav class="menu r-70">
				<li><a href="/">Inicio</a></li>
				<li><a href="/productDetail">Producto</a></li>
				<li><a href="#">Tienda</a></li>
				<li><a href="#">Contacto</a></li>
			</nav>
			<!-- Buscador -->
			<div class="buscador r-30">
				<button class="bus-botton"><i class="fas fa-search"></i></button>
				<input class="bus-input" type="text" name="buscar" required placeholder="Buscar porductos, marcas">
			</div>
		</div>
	</div>
	
	<div class="capa"></div>
	<!-- Menu lateral movil -->
	<input type="checkbox" id="btn-menu">
	<div class="container-menu">
		<div class="cont-menu">
			<nav>
				<li><a href="/">Inicio</a></li>
				<li><a href="/productDetail">Producto</a></li>
				<a href="#">Tienda</a>
				<a href="#">Contacto</a>
				<a href="#">Politica de Privacidad</a>
				<a href="#">Terminos y Condiciones</a>
			</nav>
			<label for="btn-menu">✖️</label>
		</div>
	</div>

	<section class="u-section-row padding-tb detalle">
    
    <form class="cart-form" action="#" method="post">
	
      <table class="shop_table">
        <thead>
          <tr>
            <th class="product-remove"><span class="screen-reader-text"></span></th>
            <th class="product-thumbnail"><span class="screen-reader-text"></span></th>
            <th class="product-name">Producto</th>
            <th class="product-price">Precio</th>
            <th class="product-quantity">Cantidad</th>
            <th class="product-subtotal">Subtotal</th>
          </tr>
        </thead>

        <tbody>  
        <tr class="cart_item">
    
          <td class="product-remove">
            <a href="" class="remove">×</a>
          </td>

          <td class="product-cart">
            <a href="/productDetail" class="no-lightbox">
              <img src="/images/Under Armour speed stride OS.jpg" class="cart-img" alt="" >
            </a>						
          </td>

          <td class="product-name">
          <a href="/productDetail">
            Remera Adidas Training
          </a>						
          </td>

          <td class="product-price">
            <span class="">$</span>&nbsp;11.900,00</span>						
          </td>

          <td class="product-quantity">
            <div class="quantity ">
              <a href="#" class="negpos">-</a>
                <input type="number"  class="nume"  value="1" size="4" placeholder="" inputmode="numeric" >
              <a href="#" class="negpos">+</a>
            </div>
          </td>

          <td class="product-subtotal" data-title="Subtotal">
            <span class="amount">
              <span class="">$</span>
              &nbsp;11.900,00
            </span>	
          </td>
        </tr>
              
          
        <tr class="actions">
          <td colspan="5" >
            <div class="coupon">
              <label for="coupon_code">Cupón:</label> 
              <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Código de cupón"> 
              <button type="submit" class="submit" name="apply_coupon" value="Aplicar cupón">Aplicar cupón</button>
            </div>
          </td>
          <td class="actualizar-carrito">
              <button type="submit" class="submit" name="update_cart" value="Actualizar carrito" disabled="" aria-disabled="true">Actualizar carrito</button>
          </td>
        </tr>
        </tbody>
      </table>
      </form>

      <section class="total-cart">
        <div class="total">
          <h2>Total del carrito</h2>
          <table cellspacing="0" class="shop_table shop_table_responsive">

            <tbody>
              
              <tr class="cart-subtotal">
                <th>Subtotal</th>
                <td data-title="Subtotal">
                  <span class="woocommerce-Price-amount amount">
                    <span class="woocommerce-Price-currencySymbol">$</span>
                    &nbsp;11.900,00
                  </span>
                </td>
              </tr>
        
            
              <tr class="shipping-totals shipping">
                <th>Envío</th>
                <td data-title="Envío">
                  <ul id="shipping_method" class="shipping-methods">
                    <li>
                      <input type="radio" name="shipping_method" id="shipping_method_0_local_pickup15" value="local_pickup:15" class="shipping_method" checked="checked">
                      <label for="shipping_method_0_local_pickup15">Retira por sucursal</label>					
                    </li>
                    <li>
                      <input type="radio" name="shipping_method" id="shipping_method_0_local_pickup15" value="local_pickup:15" class="shipping_method" checked="checked">
                      <label for="shipping_method_0_local_pickup15">Envio por correo Argentino sucursal</label>					
                    </li>
                    <li>
                      <input type="radio" name="shipping_method" id="shipping_method_0_local_pickup15" value="local_pickup:15" class="shipping_method" checked="checked">
                      <label for="shipping_method_0_local_pickup15">Envio por correo Argentino Domicilio</label>					
                    </li>
                  </ul>
                </td>
              </tr>
              
          
            
            <tr class="order-total">
              <th>Total</th>
              <td data-title="Total"><strong><span class="woocommerce-Price-amount amount"><bdi><span class="woocommerce-Price-currencySymbol">$</span>&nbsp;11.900,00</bdi></span></strong> </td>
            </tr>
        
            
          </tbody></table>
        </div>
      </section>

  </section>

                          
  
<!-- footer m -->
<footer class="footer-m m">
  <div class="r-25">
    <a href="#"><span class="fas fa-user-circle"></span><p>Usuario</p></a>
  </div>
  <div class="r-25">
    <a href="#"><span class="fas fa-info-circle"></span><p>Ayuda</p></a>
  </div>
  <div class="r-25">
    <a href="#"><span class="fas fa-store-alt"></span><p>Tienda</p></a>
  </div>
  <div class="r-25">
    <a href="#"><span class="fas fa-shopping-bag"></span><p>Carrito</p></a>
  </div>
</footer>
<!-- /Fin footer m -->

<!-- footer xl -->
<footer class="footer xl">
  <div class="u-section-row r padding-tb">
    <!-- Row footer 1 -->
    <div class="footers center r-25">
      <!-- Logo -->
      <a href="#">
        <img src="/images/logo.png" class="f-logo">
      </a><br>
      <div class="center i-redes">
        <a href="https://facebook.com/"><span class="fab fa-facebook-square"></span></a>
        <a href="https://facebook.com/"><span class="fab fa-instagram-square"></span></a>
        <a href="https://facebook.com/"><span class="fab fa-youtube-square"></span></a>
      </div>
    </div>

    <!-- Row footer 1 -->
    <div class="footers r-25">
      <h3>Paginas</h3>
      <ul class="m-footer">
        <li><a href="">Inicio</a></li>
        <li><a href="">Nosotros</a></li>
        <li><a href="">Tienda</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>

    <!-- Row footer 2 -->
    <div class="footers r-25">
      <h3>Paginas</h3>
      <ul class="m-footer">
        <li><a href="/productCart">Productos</a></li>
        <li><a href="">Politica de devolucion</a></li>
        <li><a href="">Terminos y Condiciones</a></li>
        <li><a href="">Carrito</a></li>
      </ul>
    </div>

    <!-- Row footer 3 -->
    <div class="footers datos r-25">
      <p>SAN NICOLAS DE LOS ARROYOS - CP 2900</p>
      <p>BUENOS AIRES - ARGENTINA</p>
      <a href="tel:5493364551179"><span class="fas fa-phone-volume">&nbsp;+549 336 4551179</span></a><br>
      <a href="tel:5493364551179"><span class="fas fa-mobile">&nbsp;+549 336 4551179</span></a><br>
      <a href="mailto:carvajalmaxi1@gmail.com"><span class="fas fa-envelope-open-text">&nbsp;info@snport.com</span></a>
    </div>

  </div>
</footer>

<!-- Copyright -->
<div class="copyright">
  <div class="u-section-row padding-tb">
    Copyright 2022 - Todos los derechos reservados <a>Grupo 1 Digital House</a>
  </div>
</div>

</body>
</html>